flows.json
[
    {
        "id": "c05db6affb01b672",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8936ff7846046bb",
        "type": "mqtt in",
        "z": "c05db6affb01b672",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a47a2176f51d8e24",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "66e9fb346982ddba",
                "3a25be37e1f848bd"
            ]
        ]
    },
    {
        "id": "c25d47b06c0d3e8a",
        "type": "mqtt out",
        "z": "c05db6affb01b672",
        "name": "",
        "topic": "esp32/moteur",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a47a2176f51d8e24",
        "x": 1240,
        "y": 580,
        "wires": []
    },
    {
        "id": "66e9fb346982ddba",
        "type": "ui_gauge",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "5dc87610bf712088",
        "type": "ui_chart",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 18,
        "width": 24,
        "height": "4",
        "label": "température",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "20",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "256d28f7ab4cd976",
        "type": "mqtt out",
        "z": "c05db6affb01b672",
        "name": "",
        "topic": "esp32/moteur_pas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a47a2176f51d8e24",
        "x": 1170,
        "y": 680,
        "wires": []
    },
    {
        "id": "fdd0a70544784e48",
        "type": "ui_button",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 8,
        "width": 3,
        "height": 3,
        "passthru": true,
        "label": "moteur pas haut",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "haut",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 660,
        "wires": [
            [
                "256d28f7ab4cd976"
            ]
        ]
    },
    {
        "id": "bae242fb3d279e6e",
        "type": "ui_button",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 10,
        "width": 3,
        "height": 3,
        "passthru": true,
        "label": "moteur pas bas",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "bas",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 700,
        "wires": [
            [
                "256d28f7ab4cd976"
            ]
        ]
    },
    {
        "id": "da1e25de11a72c36",
        "type": "ui_switch",
        "z": "c05db6affb01b672",
        "name": "",
        "label": "moteur dc",
        "tooltip": "",
        "group": "83d4d02425a5f312",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "c25d47b06c0d3e8a"
            ]
        ]
    },
    {
        "id": "d6f2cbb926b5efec",
        "type": "mysql",
        "z": "c05db6affb01b672",
        "mydb": "0a26adfbbd0baaef",
        "name": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "33ea56e1d56e6c17"
            ]
        ]
    },
    {
        "id": "901f250ba8996c1f",
        "type": "inject",
        "z": "c05db6affb01b672",
        "name": "affiche toutes les donnees",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM donnee;",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "d6f2cbb926b5efec"
            ]
        ]
    },
    {
        "id": "2f4782f853eae9ce",
        "type": "ui_chart",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 19,
        "width": 24,
        "height": "4",
        "label": "luminosité",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": "5",
        "removeOlderPoints": "20",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "605acf1003248c23",
        "type": "ui_chart",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 20,
        "width": 24,
        "height": "4",
        "label": "humidité",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "20",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "92b2e273443796e5",
        "type": "ui_gauge",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "humidité",
        "label": "humi",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "d72c8ec7c935fcd3",
        "type": "ui_gauge",
        "z": "c05db6affb01b672",
        "name": "",
        "group": "83d4d02425a5f312",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "luminosité",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "f20d21cfcf6d0f9f",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "courbe temperature",
        "func": "var temp = {};\nvar data = [];\n\nfor (var i in msg.payload) {\n    temp = msg.payload[i];\n    data[i] = { \"x\": temp.id, \"y\": temp.temperature };\n}\n\nvar chart = [{\n    \"series\": [\"Température\"],\n    \"data\": [\n        data\n    ]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 420,
        "wires": [
            [
                "5dc87610bf712088"
            ]
        ]
    },
    {
        "id": "e7d5afc7136d7d19",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "courbe humidite",
        "func": "var temp = {};\nvar data = [];\n\nfor (var i in msg.payload) {\n    temp = msg.payload[i];\n    data[i] = { \"x\": temp.id, \"y\": temp.humidite };\n}\n\nvar chart = [{\n    \"series\": [\"Humidité\"],\n    \"data\": [\n        data\n    ]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 380,
        "wires": [
            [
                "605acf1003248c23"
            ]
        ]
    },
    {
        "id": "6f3c35dc8f233eaa",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "courbe luminosite",
        "func": "var temp = {};\nvar data = [];\n\nfor (var i in msg.payload) {\n    temp = msg.payload[i];\n    data[i] = { \"x\": temp.id, \"y\": temp.luminosite };\n}\n\nvar chart = [{\n    \"series\": [\"Luminosité\"],\n    \"data\": [\n        data\n    ]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 460,
        "wires": [
            [
                "2f4782f853eae9ce"
            ]
        ]
    },
    {
        "id": "f2b409160fb7dcd5",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "humidite urgence",
        "func": "var humi = msg.payload[0].humidite;\nvar etat = \"\";\n\nif (humi > 60 && etat != \"bas\") {\n    etat = \"bas\";\n    msg.payload = etat;\n    return msg;\n}\n\nelse if (humi <= 0 && etat != \"haut\") {\n    etat = \"haut\";\n    msg.payload = etat;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 560,
        "wires": [
            [
                "b9ac23c993fd267c"
            ]
        ]
    },
    {
        "id": "9a51fd2326797a1c",
        "type": "inject",
        "z": "c05db6affb01b672",
        "name": "dernier id_humidite",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT humidite FROM donnee WHERE id = (SELECT MAX(id) FROM donnee);",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "d6f2cbb926b5efec"
            ]
        ]
    },
    {
        "id": "33ea56e1d56e6c17",
        "type": "switch",
        "z": "c05db6affb01b672",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SELECT * FROM donnee;",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SELECT humidite FROM donnee WHERE id = (SELECT MAX(id) FROM donnee);",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "e7d5afc7136d7d19",
                "f20d21cfcf6d0f9f",
                "6f3c35dc8f233eaa"
            ],
            [
                "f2b409160fb7dcd5"
            ]
        ]
    },
    {
        "id": "b9ac23c993fd267c",
        "type": "switch",
        "z": "c05db6affb01b672",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "haut",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bas",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 660,
        "wires": [
            [
                "fdd0a70544784e48"
            ],
            [
                "bae242fb3d279e6e"
            ]
        ]
    },
    {
        "id": "6249eb19374a27ef",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "envoie donnees",
        "func": "var test = msg.topic2;\nvar temp = flow.get(\"temp\");\nvar lumi = flow.get(\"lumi\");\nvar humi = flow.get(\"humi\");\n\n\nif (test == 1){\n    msg.topic = \"INSERT INTO donnee (temperature,luminosite,humidite) VALUES (\" + (temp) + \",\" + (lumi) + \",\" + (humi) + \")\";\n    test = 0;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "d6f2cbb926b5efec"
            ]
        ]
    },
    {
        "id": "7e3adbc448efbc35",
        "type": "inject",
        "z": "c05db6affb01b672",
        "name": "condition",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic2",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "6249eb19374a27ef"
            ]
        ]
    },
    {
        "id": "248a1d97118fe5fd",
        "type": "mqtt in",
        "z": "c05db6affb01b672",
        "name": "",
        "topic": "esp32/humidite",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a47a2176f51d8e24",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "92b2e273443796e5",
                "acf9e8420180fe56"
            ]
        ]
    },
    {
        "id": "05aaf4b8b73742cb",
        "type": "mqtt in",
        "z": "c05db6affb01b672",
        "name": "",
        "topic": "esp32/luminosite",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a47a2176f51d8e24",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "d72c8ec7c935fcd3",
                "f6146c879d6d2321"
            ]
        ]
    },
    {
        "id": "3a25be37e1f848bd",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "valeur temperature",
        "func": "flow.set('temp', msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f6146c879d6d2321",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "valeur luminosite",
        "func": "flow.set('lumi', msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "acf9e8420180fe56",
        "type": "function",
        "z": "c05db6affb01b672",
        "name": "valeur humidite",
        "func": "flow.set('humi', msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c083ae961cf1e92f",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "501f546ea054f993",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "9af30dd48292b732",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "530cbacc1ee1298c",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "583fbd54829d50a2",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "46a24a28cd63ac11",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "632ce8a6a0288378",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "606d6ac5166f03a0",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "10ceaaf4ba4f4dd6",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "8b596bf1d2305cd8",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3e0b83423346386",
        "type": "ui_spacer",
        "z": "c05db6affb01b672",
        "name": "spacer",
        "group": "83d4d02425a5f312",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "a47a2176f51d8e24",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "83d4d02425a5f312",
        "type": "ui_group",
        "name": "Default",
        "tab": "90f18ae89c1ea7cc",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a26adfbbd0baaef",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "panneau_solaire",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "90f18ae89c1ea7cc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]